@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=K2D:wght@100;200;300;400;500;600;700;800&family=Nunito:wght@300&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hamlin';
    src: url('../fonts/Hamlin-Regular.eot');




    // src: local('Hamlin Regular'), local('Hamlin-Regular'),
    //     url('Hamlin-Regular.eot?#iefix') format('embedded-opentype'),
    //     url('Hamlin-Regular.woff2') format('woff2'),
    //     url('Hamlin-Regular.woff') format('woff'),
    //     url('Hamlin-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Hamlin';
    src: url('../fonts/Hamlin-Bold.eot');
    src: url('../fonts/Hamlin-Bold.ttf');
    src: url('../fonts/Hamlin-Bold.woff');
    src: url('../fonts/Hamlin-Bold.woff2');
    src: url('../fonts/Hamlin-ExtraBold.eot');
    src: url('../fonts/Hamlin-ExtraBold.ttf');
    src: url('../fonts/Hamlin-ExtraBold.woff');
    src: url('../fonts/Hamlin-ExtraBold.woff2');
    src: url('../fonts/Hamlin-Light.eot');
    src: url('../fonts/Hamlin-Regular.ttf');
    src: url('../fonts/Hamlin-Regular.woff');
    src: url('../fonts/Hamlin-Regular.woff2');
}

@font-face {
    font-family: 'superpix';
    src: url('../fonts/Superpix-DONATIONWARE.otf');
}

@font-face {
    font-family: 'Queensides';
    src: url('../fonts/Queensides-3z7Ey.ttf');
    src: url('../fonts/QueensidesLight-ZVj3l.ttf');
    src: url('../fonts/QueensidesMedium-x30zV.ttf');
}

@font-face {
    font-family: 'engravers roman';
    src: url('../fonts/Engravers\'\ Roman\ Bold.otf');
}

@font-face {
    font-family: 'play fair';
    src: url('../fonts/PlayfairDisplay-Black.ttf');
    src: url('../fonts/PlayfairDisplay-BlackItalic.ttf');
    src: url('../fonts/PlayfairDisplay-Bold.ttf');
    src: url('../fonts/PlayfairDisplay-BoldItalic.ttf');
    src: url('../fonts/PlayfairDisplay-ExtraBold.ttf');
    src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.ttf');
    src: url('../fonts/PlayfairDisplay-Italic.ttf');
    src: url('../fonts/PlayfairDisplay-Medium.ttf');
    src: url('../fonts/PlayfairDisplay-MediumItalic.ttf');
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: 'punkbabe';
    src: url('../fonts/PUNKBABE\ TRIAL.ttf');
}

@font-face {
    font-family: 'thunderspeed';
    src: url('../fonts/Thunderspeed.otf');
    src: url('../fonts/Thunderspeed.ttf');
}

@font-face {
    font-family: 'dirtyboy';
    src: url('../fonts/Dirtyboy-BxYl.ttf');
}








body {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    a {
        text-decoration: none;
        display: inline-block;
    }

    .container-fluid {
        max-width: 95%;
    }

    .header_top {
        background: linear-gradient(90deg, #101010 69.41%, rgba(0, 0, 0, 0.12) 99.45%);
        // height: 50px;
        padding: 23px 0;

        .hamB {
            .btnToggle {
                background: transparent;
                color: #fff;
            }

            a {
                color: #fff;

                i {
                    color: #fff;
                    font-size: 20px;
                }
            }
        }

        .name_header {
            text-align: center;

            h1 {
                color: #E9E6DD;
                font-size: 23px;
                letter-spacing: 6px;
                font-weight: 400;
                font-family: 'Tilt Neon';
            }
        }

        .search_right {
            text-align: right;

            img {
                height: 30px;
            }
        }
    }

    .banner_top {
        background: url('../images/landing_img.png');
        background-position: center;
        background-size: cover;
        height: 800px;
        margin: 0 57px;

        .container-fluid {
            max-width: initial;
        }

        .banner_texts {
            padding: 200px 170px;

            h3 {
                color: #E9E6DD;
                font-size: 70px;
                font-weight: 300;
                font-family: 'Playfair Display';

                margin: 0 0 15px;

            }

            h4 {
                color: #E9E6DD;
                font-family: 'Playfair Display';
                font-size: 20px;

            }
        }
    }

    .options_section {
        .dropdown_part {
            .dropdown {
                background: transparent;
                position: relative;

                .btn {
                    background: transparent;
                    border: 0;
                    color: #000;
                    font-size: 22px;
                    font-weight: 400;
                    font-family: 'Hamlin';
                    margin: 0 10px 0 0;

                    &::after {
                        display: none;
                    }

                }

                i {
                    margin: 5px 0 0;
                }

                ul {
                    li {
                        a {
                            color: #000000;
                            font-size: 20px;

                        }
                    }
                }
            }
        }

        .sorting_part {
            text-align: right;

            a {
                font-family: 'Hamlin';
                color: #000000;
                font-size: 20px;

                img {
                    height: 25px;
                }
            }
        }
    }

    .product_section {
        background: url('../images/product_bgnew.png');
        background-position: center;
        background-size: cover;
        margin: 0 57px;
        padding: 175px 0 55px;

        .productBox {
            margin: 0 0 95px;

            .imgPart {
                img {
                    height: 360px;
                }
            }

            .textsPart {
                h1 {
                    font-size: 36px;
                    font-weight: 200;
                    color: #fff;
                    font-family: 'engravers roman';
                    border-bottom: 1px solid #fff;
                    max-width: 140px;
                    margin: 10px auto 15px;
                    letter-spacing: 7px;
                }

                h2 {

                    color: #ffffff;
                    opacity: 0.7;
                    font-size: 32px;
                    font-weight: 300;
                    font-family: 'engravers roman';
                }

                h3 {
                    color: #fff;
                    font-family: 'engravers roman';
                    margin: 5px 0 0;
                }

                h4 {
                    color: #fff;
                    font-family: 'engravers roman';
                    opacity: 0.7;
                }

                h5 {
                    color: #fff;
                    font-family: 'play fair';
                    margin: 15px 0 0;

                }

                &.textsPartSec {
                    h1 {
                        font-family: 'Queensides';
                        max-width: 70px;
                        letter-spacing: 7px;
                        padding: 0 0 8px;
                    }
                }
            }

        }

        .more_btn {
            margin: 95px 0 0;

            a {
                color: #fff;
                font-size: 17px;
                font-family: 'Hamlin';
                font-weight: 100;

            }

            .down {
                margin: 20px 0 0;

                .vert-move {
                    height: 22px;
                }

                img.vert-move {
                    -webkit-animation: mover 0.7s infinite alternate;
                    animation: mover 0.7s infinite alternate;
                }

                img.vert-move {
                    -webkit-animation: mover 0.7s infinite alternate;
                    animation: mover 0.7s infinite alternate;
                }

                @-webkit-keyframes mover {
                    0% {
                        transform: translateY(0);
                    }

                    100% {
                        transform: translateY(-25px);
                    }
                }

                @keyframes mover {
                    0% {
                        transform: translateY(0);
                    }

                    100% {
                        transform: translateY(-5px);
                    }
                }

            }
        }
    }

    .bottomStrip {
        background: #E9E6DD;
        // margin: 0 57px;
        .container-fluid{
            // max-width: 100% !important;
        }

        .playbtn {
            justify-content: center;
            align-items: center;
            padding: 25px 0;
            flex-direction: column;

            a {
                img {
                    height: 38px;
                }
            }

            .playtext {
                font-family: 'superpix';
                color: #000000;
                font-size: 19px;
                font-weight: 300;
                margin: 8px 0 0;
            }
        }
    }

    .header_aviator {
        background: #141416;
        // height: 105px;
        padding: 15px 0;

        .backOption {
            a {
                i {
                    color: #ffffff;
                    font-size: 30px;
                }
            }
        }

        .game_logo {
            text-align: center;

            // h1{
            //     font-family: 'punkbabe';
            //     color: #E9E6DD;
            //     font-size: 60px;
            //     font-weight: 400;
            //     line-height: 0;
            //     letter-spacing: 10px;
            // }
            img {
                height: 65px;
            }
        }

        .wallet {
            text-align: right;

            a {
                img {
                    height: 30px;

                }
            }
        }
    }


    .game_full {
        background: url('../images/aviator_bg.png');
        background-position: center;
        background-size: cover;
        // height: 800px;
        // opacity: 0.3;
        background-repeat: no-repeat;
        padding: 50px 0 70px;

        // filter: blur(8px);
        // -webkit-filter: blur(8px);
        .left_part {
            padding: 65px 0;

            .amtPart {
                margin: 0 0 60px;

                .first_amtPart {
                    max-width: 500px;
                    // margin: 0 0 55px;

                    .rs_icon {
                        background: #090B17;
                        padding: 15px 12px 6px 6px;

                        img {
                            height: 18px;
                        }
                    }

                    input {
                        background: #ffffff;
                        max-width: 137px;
                        font-family: 'thunderspeed';
                        font-size: 30px;
                        font-weight: 400;
                        color: #000000;
                        padding: 5px 0px 5px 18px;
                        border-radius: 0;

                        &::placeholder {
                            color: #000000;
                        }
                    }

                    .plus_minus {
                        background: #090B17;
                        padding: 3px 10px 10px 7px;

                        a {
                            color: #ffffff;
                            font-size: 30px;
                            position: relative;
                            margin-left: 7px;

                            &::after {
                                position: absolute;
                                content: "";
                                background: #ffffff;
                                height: 28px;
                                width: 2px;
                                top: 10px;
                                // right: 2px;
                                left: 25px;
                            }

                            &:last-child {
                                margin: 0 0 0 13px;

                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .place_btns {
                    a {
                        font-family: 'dirtyboy';
                        font-size: 25px;
                        font-weight: 400;
                        color: #000000;
                        background: #428929;
                        padding: 15px 12px 10px;
                        line-height: 20px;

                        &:last-child {
                            background: #760000;
                            margin: 0 0 0 4px;
                        }
                    }
                }
            }

            .x_part {
                background: #fff;
                max-width: 170px;
                text-align: center;
                border-radius: 30px;
                padding: 13px 0;
                margin: 130px 0 0px;

                h3 {
                    font-size: 32px;
                    font-weight: 600;

                }

                h2 {
                    font-size: 26px;
                    font-weight: 600;
                }
            }
        }

        .center_part {
            .gameBox {
                height: 550px;
                position: relative;

                .aviatorgame_bg {
                    height: 100%;
                    width: 100%;

                }

                .aviator_plane {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 80px;
                }
            }

            .aviator_bottom {
                img {
                    // height: 30px;
                }
            }
        }
    }

    .bottom_panel {
        background: #1A1A1A;
        padding: 25px 0;

        .panel_btn {
            a {
                img {
                    height: 40px;
                }
            }
        }
    }

    .sign_upFull {
        background: url('../images/signupbg.jpeg');
        background-position: center;
        background-size: cover;
        height: 100vh;

        .form_part {
            .heading_form {
                font-size: 45px;
                letter-spacing: 10px;
                margin: 0 0 45px;
                background: linear-gradient(90deg, #FFF 6.72%, #7D564F 72.94%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
            }

            max-width: 400px;
            margin: 300px 0 0 auto;

            form {
                .iconBox {
                    border: 3px solid rgba(233, 230, 221, 0.60);

                    padding: 7px 10px 7px 10px;
                    margin: 0 15px 0 0px;

                    i {
                        color: #b8b8b8;
                        font-size: 17px;
                    }

                    img {
                        height: 22px;

                    }
                }

                input {
                    background: transparent;

                    border: 3px solid rgba(233, 230, 221, 0.60);
                    border-radius: 0;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.46);
                    }
                }

                .submit_btn {}
            }
        }
    }

    .otp_full {
        background: url('../images/signupbg.jpeg');
        background-position: center;
        background-size: cover;
        height: 100vh;
        padding: 200px 0 0;

        .submit_part {
            max-width: 600px;
            margin: 0 0 0 auto;

            form {
                input {
                    background: transparent;

                    border: 3px solid rgba(233, 230, 221, 0.60);
                    border-radius: 0;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.46);
                    }
                }

                .otp_submitbtn {
                    background: transparent;
                    padding: 15px 40px;
                    border-radius: 18px;
                    border: 1px solid #fff;
                    color: #fff;
                    transition: all .3s ease-in-out;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: 'Hamlin';

                    &:hover {
                        background: #fff;
                        color: #000000;
                    }

                }
            }
        }
    }

    .triangle_header {
        background: #760000;
        padding: 20px 0 20px;

        .header_left {
            align-items: center;

           a{
            img {
                height: 70px;
                &.bar_modern{
                    height: 40px;
                    margin: 0 40px 0 0;
                }

              
            }
           }
        }

        .header_right {
            text-align: right;

            a {
                img {
                    height: 30px;
                }
            }
        }
    }

    .triangle_main {
        background: url('../images/dicebg-new.png');
        background-position: center;
        background-size: cover;
        height: 100vh;


        .triangle_part {
            position: relative;

            .triangle_img {
                height: 670px;
                position: absolute;
                top: 168px;
                left: 21%;
            }

            .planeBox {
                position: absolute;
                top: 67px;
                left: 42.7%;
                border-radius: 50%;            
                a {
                    .planeIcon {

                        height: 100px;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            transform: rotate(0.99turn);
                        }
                    }
                }
            }
            .cardBox {
                position: absolute;
                top: 780px;
                left: 15.5%;

                a {
                    .cardIcon {

                        height: 100px;
                        transition: all .4s ease-in-out;
                        &:hover{
                            transform: rotate(360deg);
                        }
                    }
                }
            }
            .colorBox{
                position: absolute;
                top: 780px;
                right: 24%;
                a{
                    .colorImg{
                      height: 100px;
                      transition: all .4s ease-in-out;
                      &:hover{
                        // transform: rotate(360deg);
                      }
                    }
                }
            }
        }

    }

    .card_header{
        background: #141416;
        padding: 10px 0;
        .header_left{
            a{
                img{
                    height: 20px;
                }
            }
        }
        .header_middle{
            img{
                height: 50px;
            }
        }
        .header_right{
            text-align: right;
            a{
                img{
                    height: 30px;
                }
            }
        }
    }

    .game_section{
        padding: 100px 0 30px;
        background: url('../images/game');
        .cardGame_box{
            background: url('../images/gamebg_cards.png');
            background-position: center;
            background-size: cover;
            max-width: 60%;
            margin: auto;
            // padding: 0 20px 0;
            .box_topPart{
                justify-content: space-around;
                padding: 30px 0;
                border-bottom: 2px solid #fff;
                .redColor, .blackColor{
                    img{
                        // max-width: 49%;
                        height: 100px;
                    }
                }
            }
            .box_mainPart{
                justify-content: space-around;
                padding: 35px 30px 10px;
                .leftCards, .rightCards{
                    // padding: 60px 0 50px;
                    justify-content: center;
                   .card{
                    margin: 0 0 30px;
                    max-width: 100px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                   }
                }
            }
        }
    }


}